<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
  #one{
    height: 80px;

  }
  #two{
    height: 20px;
    width: 170px;

  }
</style>
<body style="background-color:cornflowerblue;">



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header"; id="one">

      <center>
        <a class="navbar-brand href="#"><h3 style="color: white;">INVENTORY MANAGEMENT SYSTEM</h3></a>
      </center>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <center>
      <li><a href="#"><h3><span class="glyphicon glyphicon-log-out" style="color:white"></span><a href="http://127.0.0.1:5500/project%20logout.html"; style="color:white"> Logout</a></h3></a></li>
      </center>
    </ul>
  </div>
</nav>
<div class="container">
<div class="column">
  <div class="row-sm-3 bg-default text-black">

          <button type="button"><h3><span class="glyphicon glyphicon-asterisk iconsize"; id="two">DASHBOARD</span></h3></button>
          <br>
          <br>
          <br>
          <br>
  </div>
  <div class="row-sm-3 bg-default text-white">

          <button type="button"><h3><span class="glyphicon glyphicon-leaf iconsize"; id="two">PRODUCTS</span></h3></button>
          <br>
          <br>
          <br>
          <br>
  </div>
  <div class="row-sm-3 bg-default text-white">

          <button type="button"><h3><span class="glyphicon glyphicon-globe"; id="two">INVENTORY</span></h3></button>
          <br>
          <br>
          <br>
          <br>

  <div class="row-sm-3 bg-default text-white">
    <button type="button"><h3><span class="glyphicon glyphicon-globe iconsize" ; id="two">HELP</span></h3></button>
    <br>
    <br>
    <br>
    <br>

  </div>


  </div>


  </div>

</div>
</div>

</body>
</html>